@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Chirp";
  src: url("/fonts/chirp-regular-web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chirp";
  src: url("/fonts/chirp-medium-web.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chirp";
  src: url("/fonts/chirp-bold-web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Chirp";
  src: url("/fonts/chirp-heavy-web.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Chirp", sans-serif;
}
