.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;

  /* Register page has inline style of gap 3rem */
  gap: 2rem;
}

.container > * {
  width: 100%;
}

.error_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
}

.error_container > * {
  width: 100%;
}
