.container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 2fr;
  min-height: 100vh;
}

.sidebar_container {
  padding-top: 2rem;
  position: sticky;
  align-self: start;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding-top: 3rem;
  grid-column: 1/2;
  grid-row: 1/3;
  min-height: 100vh;
}

.sidebar_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-left: 50%;
}

.search_container {
  grid-column: 2/3;
  border: 1px gray solid;
  border-top: none;
  width: 100%;
  padding: 1rem;
}

.outlet_container {
  border: 1px gray solid;
  padding: 1rem;
  overflow: scroll;
}

.logout_button {
  position: absolute;
  bottom: 0px;
  margin-bottom: 1rem;
}
