.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  gap: 2rem;
}

.container > * {
  width: 100%;
}

.fixed_size {
  width: 100%;
}
